<section class="pt-8">
	<div class="container position-relative">
		<div class="row align-items-end align-items-lg-bottom">
			<div class="col-6 col-lg-3 text-center order-1">
				<img src="{{asset("images/hearder_champ_01.png")}}" alt="hearder_champ_01.png">
			</div>

			<div class="col-lg-6 px-xl-5 text-center order-lg-2 mb-5 mb-lg-0">
				<h1 class="mb-4">Vous avez une question ? Trouvez la réponse.</h1>

				<form class="mb-3 mb-sm-4">
					<div class="input-group input-borderless">
						<input class="form-control form-control-lg" type="search" placeholder="Trouvez votre réponse">
						<button type="button" class="btn btn-dark mb-0 px-4">
							<i class="bi bi-search"></i>
						</button>
					</div>
				</form>

			</div>
			<div class="col-6 col-lg-3 text-center order-3">
				<img src="{{asset("images/hearder_champ_02.png")}}" alt="hearder_champ_02.png">
			</div>
		</div>

	</div>
</section>
